@import "fonts.css";

:root {
  font-family: PublicSans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-stretch: 75% 125%;
  font-style: normal;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(255, 255, 255, 0.87); */
  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
